TOKILAKE_IMAGE=ghcr.io/tokimorphling/tokilake:latest
TOKILAKE_SERVER_NAME=api.example.com
TOKILAKE_UPSTREAM=http://tokilake:19981
TOKILAKE_NGINX_TEMPLATE=./nginx.compose.https.conf.template
TOKILAKE_COMPOSE_ROOT=./runtime-letsencrypt
HTTP_PORT=80
HTTPS_PORT=443
TZ=UTC
POSTGRES_DB=tokilake
POSTGRES_USER=tokilake
POSTGRES_PASSWORD=replace-with-a-db-password
