TOKILAKE_IMAGE=ghcr.io/tokimorphling/tokilake:latest
TOKILAKE_SERVER_NAME=api.example.com
TOKILAKE_UPSTREAM=http://tokilake:19981
TOKILAKE_COMPOSE_ROOT=./runtime
HTTP_PORT=80
TZ=UTC
POSTGRES_DB=tokilake
POSTGRES_USER=tokilake
POSTGRES_PASSWORD=replace-with-a-db-password
